<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-50">
    <div class="container mx-auto text-center">
      <h3 class="mt-40 text-5xl leading-6 font-medium text-gray-900">
        Welcome to bun starter kit
      </h3>

      <div class="mt-16">
        <a
          href="https://bun.uptrace.dev"
          class="px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10"
        >
          Get started
        </a>
      </div>
    </div>
  </body>
</html>
